a, li:hover{
  color:green;
}
body, main{display: flex;}
body{flex-direction: column;}
main{flex: auto;}
aside{flex: 1;}
article{flex: 3;}
.picLUp{
    background:url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2F829ac66092195b4a91dc66faef1bbd5c55431fa8.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1650640013&t=b4c42db47f18ee431f242eb052cb39a0) no-repeat;
    width:100%;
    height:40%;
    background-size:cover;
}
